<style>

</style>

<!-- Toolbar -->
<app-nav></app-nav>
<!-- Highlight Card -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- Resources -->

<!-- Next Steps -->

<!-- Terminal -->
<!-- Links -->

<!-- Footer -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>